<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>Final Scores</title>
  </head>
  <body>
    <div ng-controller="competitorOverall">
    <table>
      <tr ng-repeat="all in allTheComp">
        <th scope="row" ng-if="$last">Date:</th>
        <td ng-if="$last">{{all.date}}</td>
      </tr>
      <tr ng-repeat="all in allTheComp">
        <th scope="row" ng-if="$last">Location:</th>
        <td ng-if="$last">{{all.location}}</td>
      </tr>
      <tr ng-repeat="all in allTheComp">
        <th scope="row" ng-if="$last">State:</th>
        <td ng-if="$last">{{all.state}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>200Y Standing</th>
        <th>X</th>
        <th>200Y Sitting</th>
        <th>X</th>
        <th>300Y Prone</th>
        <th>X</th>
        <th>600Y Prone</th>
        <th>X</th>
        <th>Total</th>
      </tr>
      <tr ng-repeat="all in allTheComp">
        <td ng-if="$last">{{all.nameIn}}</td>
        <td>{{all.classIn}}</td>
        <td>{{all.twoStanding}}</td>
        <td>{{all.twoXS}}</td>
        <td>{{all.twoSitting}}</td>
        <td>{{all.twoXs}}</td>
        <td>{{all.threeProne}}</td>
        <td>{{all.threeX}}</td>
        <td>{{all.sixProne}}</td>
        <td>{{all.sixX}}</td>
        <td>Total</td>
      </tr>
    </table>
    </div>
  </body>
</html>
