<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <script src="scripts/factories.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="scripts/firstPage.css" media="screen" title="no title" charset="utf-8">
    <title>OTC Scoring</title>
  </head>
  <body>
      <h1 class='headText'>OTC Scoring</h1>
      <a href="main"><button type="button" class="btn btn-primary btn-lg" name="main">OTC Scoring</button></a><br>
      <a href="fMain"><button type="button" id="fClass" class="btn btn-primary btn-lg" name="fMain">F-Class Scoring</button></a>
  </body>
</html>
