<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <script src="scripts/factories.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="scripts/mainPage.css" media="screen" title="no title" charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div ng-controller="competitorOverall">
      <div ng-show='topHalf' class='top'>
    <div class="container">
    <input type="text" ng-model="dateIn" name="dateIn" placeholder="MM/DD/YEAR"><br>
    <input type="text" ng-model="locationIn" name="locationIn" value="" placeholder="Location (City)"><br>
    <input type="text" ng-model="stateIn" name="stateIn" value="" placeholder="State"><br>
    <br>
  </div>
    <div class="container">
      <!-- <table>
        <tr>
          <th width="10%">Name</th>
          <th width=10%>Class</th>
          <th width=10%>200Y Standing</th>
          <th width=10%>X</th>
          <th width=10%>200Y Sitting</th>
          <th width=10%>X</th>
          <th width=10%>300Y Prone</th>
          <th width=10%>X</th>
          <th width=10%>600Y Prone</th>
          <th width=10%>X</th>
        </tr>
      </table> -->
    </div>
    <div class="container">
      <fieldset id="{{'competitors-'+ $index}}" ng-repeat='competitor in competitors'>
        <input type="text" ng-model="competitor.nameIn" name="nameIn" value="" placeholder="Competitors Name">
        <input type="text" ng-model="competitor.classIn" name="classIn" value="" placeholder="Classification">
        <input type="text" ng-model="competitor.twoStanding" name="twoStanding" value="" placeholder="200Y Standing">
        <input type="text" ng-model="competitor.twoXS" name="name" value="" placeholder="200Y Standing X">
        <input type="text" ng-model="competitor.twoSitting" name="twoSitting" value="" placeholder="200Y Sitting">
        <input type="text" ng-model="competitor.twoXs" name="name" value="" placeholder="200Y Sitting X">
        <input type="text" ng-model="competitor.threeProne" name="threeProne" value="" placeholder="300Y Prone">
        <input type="text" ng-model="competitor.threeX" name="name" value="" placeholder="300Y Prone X">
        <input type="text" ng-model="competitor.sixProne" name="sixProne" value="" placeholder="600Y Prone">
        <input type="text" ng-model="competitor.sixX" name="name" value="" placeholder="600Y Prone X">
        <button class="remove" type="button" name="removeButton" ng-show="$last" ng-click="removeComp()">-</button>
        <br>
        <div class="inputField"></div>
      </fieldset>
    </div>
    <div class="container">
      <button type="button" class="btn btn-info" ng-click="addCompetitor()" name="addCompetitor">Add Competitor</button><br>
      <button type="button" class="btn btn-primary" ng-click="complete(competitors, dateIn, locationIn, stateIn)" name="completeButton">Complete</button>

      <!-- <button type="button" class="btn btn-success" ng-click="updateComp()" name="updateButton">Update</button> -->
      
      <form>
        <input type="text" ng-model="compDay.date" name="compDay" placeholder="Date MM/DD/YRYR">
        <button ng-click="getCompetitionResults(compDay)" class="btn btn-primary">Get Competition</button>
      </form>
    </div>
    </div>
      <div ng-show='bottomHalf' class='bottom'>
        <div class="container">
      <table>
        <tr ng-repeat="all in allTheComp.comps">
          <th scope="row" ng-if="$last">Date:</th>
          <td ng-if="$last">{{all.date}}</td>
        </tr>
        <tr ng-repeat="all in allTheComp.comps">
          <th scope="row" ng-if="$last">Location:</th>
          <td ng-if="$last">{{all.location}}</td>
        </tr>
        <tr ng-repeat="all in allTheComp.comps">
          <th scope="row" ng-if="$last">State:</th>
          <td ng-if="$last">{{all.state}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th width="10%">Name</th>
          <th width="10%">Class</th>
          <th width="10%">200Y Standing</th>
          <th width="3%">X</th>
          <th width="10%">200Y Sitting</th>
          <th width="3%">X</th>
          <th width="10%">300Y Prone</th>
          <th width="3%">X</th>
          <th width="10%">600Y Prone</th>
          <th width="3%">X</th>
          <th width="5%">Total</th>
          <th width="5%">Total X</th>
        </tr>
        <tr ng-repeat="all in allTheComp.comps | limitTo: $index">
          <td>{{all.nameIn}}</td>
          <td>{{all.classIn}}</td>
          <td>{{all.twoStanding}}</td>
          <td>{{all.twoXS}}</td>
          <td>{{all.twoSitting}}</td>
          <td>{{all.twoXs}}</td>
          <td>{{all.threeProne}}</td>
          <td>{{all.threeX}}</td>
          <td>{{all.sixProne}}</td>
          <td>{{all.sixX}}</td>
          <td>{{(all.twoStanding + all.twoSitting + all.threeProne + all.sixProne)}}</td>
          <td>{{all.twoXS + all.twoXs + all.threeX + all.sixX}}</td>
        </tr>
      </table>
      </div>
      <div class="container">
      <button ng-click="editCompetition()" class="btn btn-warning" name="editButton">Edit</button>
      <a href="./"><button type="button" class="btn btn-success" name="newCompButton">New Competition</button></a>
      <button type="button" class="btn btn-primary" name="downloadButton">Download</button>
      </div>
        </div>
      </div>
  </body>
</html>
