body {
  background-image: url('target.jpg');
  background-size: cover;

}

table {
  background-color: #f2f2f2;
}

button {
  margin-top: 0.25%;
}

.top {
  margin-top: 5%;
}

.bottom {
  margin-top: 5%;
}

th, td {
  text-align: center;
  padding: 10px;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: center;
}

.inputField {
  padding-top: 10px;
}
